server:
  port: 9000
spring:
  application:
    name: "cards"
  profiles:
    active: "prod"
  datasource:
    url: jdbc:mysql://localhost:3308/cardsdb
    username: root
    password: root
  sql:
    init:
      mode: always
  jpa:
    show-sql: true

  config:
    import: "optional:configserver:http://localhost:8071/"
#  Commenting rabbit mq as we'll use actuator refresh to update configs  dynamically instead of busrefresh.
#  rabbitmq:
#    host: localhost
#    port: 5672
#    username: guest
#    password: guest
# Add management endpoint exposure Enable/Refresh API
management:
  endpoints:
    web:
      exposure:
        include: "*"