server:
  port: 9000
spring:
  application:
  name: cards

  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true

build:
  version: "1.0"

cards:
  message: "Welcome to the Cards Service- Dev Support"
  contactDetails:
    name: "John Doe"
    phone: "123-456-7890"
    email: "John@email.com"
  onCallSupport:
    - (555) 123-4567
    - (555) 987-6543